. Share a link here to a Google Document where each of the following tasks are addressed.
.	Rename the document to be the Project’s name.At the top of the document restate the project name as a header. Add a tagline below which is exactly one sentence (or phrase) that best summarizes your project.
.	In a section named “Team”, answer:What are the names of the team members?What role will each person play in completing the project?Why have those roles been decided?
.	In a section named “Technologies”:
.	List the libraries, languages, platforms, frameworks, hardware, books, resources that will be necessary to complete your project.For 2 of these technology choices, describe another option and what were the trade-offs between the chosen technology and the alternate. Explain what led to the final decision to use a particular technology.
.	In a section named “Challenge”:Describe the problem the Portfolio Project is intended to solve.Explain what the Portfolio Project will not solveExplain who the Portfolio Project will help and/or who the users will beIs this project relevant or dependent on a specific locale?
